<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Preact_Api_Consumer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Preact_Api_Consumer.Properties.Settings>
            <setting name="ProjectCode" serializeAs="String">
                <value>YOUR_CODE</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>YOUR_KEY</value>
            </setting>
        </Preact_Api_Consumer.Properties.Settings>
    </userSettings>
</configuration>