<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- LessNeglect settings for TheMux -->
    <add key="LessNeglectProjectCode" value="VfzBLXVKjq2s2"/>
    <add key="LessNeglectProjectApiSecret" value="M6Aoy2gIN53JzAnWuQNThKQ3tJb3"/>
  </appSettings>
</configuration>